body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
hr{
    width: 630px;
}
button{
    border: 1px solid black;
}
#errors{
    color:coral;
}
#board{
    width: 630px;
    height: 630px;

    /* background-color: yellow; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.tile{
    width: 68px;
    height: 68px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#digits{
    width: 630px;
    height: 60px;

    /* background-color: yellow;  */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.number{
    width: 64px;
    height: 64px;
    border: 1px solid black;
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numberSelected{
    background-color: gray;
}
.tile-start{
    background-color: whitesmoke;
}
.horizontal-line{
    border-bottom: 1px solid black;
}
.vertical-line{
    border-right: 1px solid black;
}
#inicio{
    display: flex;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
}
.buttonGenerales{
   padding: 10px;
   height: 60px;
   width: 120px;
   background-color: coral;
}

.dark-mode{
    background-color: rgb(24, 23, 23);
    color: white;
}
.dark-modeTile-start{
    background-color:#3a3942;
    
}
.darkTile-border{
    border: solid 1px rgb(85, 85, 85);
}
.dark-mode-border-number{
    border: solid 1px white;
}
.dark-horizontal-line{
    border-bottom: 1px solid white;
}
.dark-vertical-line{
    border-right: 1px solid white;
}
.dark-mode-button{
    border: 2px solid white;
}
.dark-mode-buttonGeneral{
    border: 2px solid white;
}

#menu button{
    width: 140px;
    height: 100px;
    margin-bottom: 5px;
    /* border: 1px solid black; */
}
#eliminar{
    width: 140px;
    height: 80px;
    background-color: coral;
    /* border: 2px solid black; */
}

.rojo{ background-color: red;}
.azul { background-color: blue; }
.verde { background-color: green; }
.amarillo { background-color: yellow; }
.naranja { background-color: orange; }
.blanco { background-color: white; }


#container {
    display: flex;
}

#left {
    flex: 1;
}

#center {
    flex: 2;
    margin-bottom: 20px;
}

#right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    row-gap: 80px;
    
}

.colorSelected{
        filter: brightness(0.65); /* Reducir el brillo al 80% */
    
}
button:hover{
    filter: brightness(0.9);
 }
.colorSelected:hover{
    filter: brightness(0.65); 
}

#botonDosNumeros{
    width: 140px;
    height: 80px;
    font-size: large;
    background-color: coral;
}
button{
    border: 2px solid black;
    border-radius: 10px;

}

@media screen and (max-width: 958px) {
    #container {
        flex-direction: column; /* Cambia la dirección de la flexbox a columna */
    }

    #right {
        order: 3; /* Cambia el orden para que aparezca después de #center */
    }
}
@media screen and (max-width: 590px) {
    #container {
        flex-direction: column; /* Cambia la dirección de la flexbox a columna */
    }

    #right {
        order: 3; /* Cambia el orden para que aparezca después de #center */
    }
}
